body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}

header {
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
}


.site-container {
  position: relative;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
}

/*меню навигации*/

.menu {
  position: relative;
}

.menu-navigation {
  font-size: 14px;
  line-height: 26px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.menu-navigation-item {
  width: 240px;
  height: 56px;
  text-align: center;
}

.menu-navigation-item:nth-child(3) {
  margin-left: auto;
}

.menu-navigation a {
  margin-top: 14px;
  display: block;
}

a {
  text-decoration: none;
  color: #000000;
}

.logo-link {
  position: absolute;
  top: 0px;
  left: 50%;
  margin-left: -69px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.welcome-section {
  background-image: url(../img/intro-mask.svg), url(../img/background_photo.jpg);
  background-repeat: no-repeat;
  background-position: 0 bottom, 0;
  height: 508px;
  padding-bottom: 80px;
  padding-top: 76px;
  text-align: center;
}

/*описание преимуществ Седоны*/

.index-h1 {
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
}

.index-h2 {
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: #333333;
}

.menu-advantages {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.advantages-section {

}

.advantages-section-1 {

}

.advantages-section-2 {

}