body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}

header {
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
}

.menu {
  font-size: 14px;
  line-height: 26px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  display: inline-block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.index-h1 {
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
}

.index-h2 {
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: #333333;
}

.advantages-section {

}

.advantages-section-1 {

}

.advantages-section-2 {

}